absl-py
astunparse
cachetools
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
gensim
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
httplib2
idna
importlib-metadata
itsdangerous
jax
Jinja2
joblib
keras
libclang
Markdown
MarkupSafe
ml-dtypes
nltk
numpy
oauthlib
opt-einsum
packaging
pandas
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
smart-open
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tqdm
typing_extensions
tzdata==2023.3
uritemplate
urllib3
Werkzeug
wrapt
zipp
